nav {
    background: #256;

}
a.nav-item{
    margin-left: -3rem !important;
}
nav a.nav-link{
    color: #fff !important;
    font-size: 0.9rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}
nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a{

    margin-left : 0.8rem;
    margin-right: 0.8rem;
    border-top: 0.19rem solid #256 !important;
}

.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
    border-top: 0.19rem solid #4ab !important;
    color : #4ab !important;
} 
.navbar-nav > li > a:hover{
    border-top: 0.19rem solid #4ab !important;
    color : #4ab !important;

}


@media(max-width:670px) {
  

    nav{
    width : 22.5rem;
    margin-bottom: 10rem;
    }
    
}