.gpt3__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: var(--color-footer);
    background:-moz-linear-gradient(1deg, rgba(94, 163, 255, 1) 0%, rgba(160, 235, 235, 1) 52%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(1deg, rgba(94, 163, 255, 1) 0%, rgba(160, 235, 235, 1) 52%);

    /* opera 11.10+ */
    background:-o-linear-gradient(1deg, rgba(94, 163, 255, 1) 0%, rgba(160, 235, 235, 1) 52%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5EA3FF', endColorstr='#A0EBEB', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(1deg, rgba(94, 163, 255, 1) 0%, rgba(160, 235, 235, 1) 52%);

    /* global 94%+ browsers support */
    background:linear-gradient(1deg, rgba(94, 163, 255, 1) 0%, rgba(160, 235, 235, 1) 52%);
}

  

.gpt3__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
    margin-top: 5rem;
}

.gpt3__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.gpt3__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.gpt3__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.gpt3__features .button{
    margin-top: 7rem;
}
.gpt3__features .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-align: center;
    border: none;
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

  }
  
.gpt3__features .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.gpt3__features .button:hover span {
    padding-right: 25px;
  }
  
.gpt3__features .button:hover span:after {
    opacity: 1;
    right: 0;
  }
@media screen and (max-width: 990px) {
    .gpt3__features {
        flex-direction: column;
    }
    .gpt3__features .button{
        flex-direction: column;
    }

    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}

